*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --h1-font-size: 6rem;
    --span-font-size: 3.5rem;
    --input-size: 20.75rem;
    --h1-color: #ffffff;
    --span-color: #ffffff;
    --button-color: #ffffff;
    
}

@media screen and (max-width: 280px){
    :root{
        --h1-font-size: 2.5rem;
        --span-font-size: 1.75rem;
        --input-size: 10.8rem;
    }
}
.hero-container{
    background: url(../assets/imgs/image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); */
    position: relative;
}

.hero-container::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.55;
}

form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.errores{
    color: red;
}